<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1>Splash Pad Status</h1>
        <p>PSI At Input:            {{ psi_input }}</p>
        <p>PSI At Output:           {{ psi_output }}</p>
        <p>Flow Valve Percent:      {{ flow_percent }}</p>
        <p>Flow Valve Fully Opened: {{ flow_fully_opened }} </p><p>
        <p>Flow Valve Fully Closed: {{ flow_fully_closed }} </p><p>
    </body>
</html>